/* WHOLE BODY */
*{
   margin: 0;
   padding-left: 0;
}

body{
   /*  #606060FF #d4b996ff */
   background-color: #755139FF ;
   color: black;
   font-family: 'Ibarra Real Nova', serif;
}

p{
   color: #2A2B2E;
}

/* INSIDE MAIN BODY */
.all{
   background-color: white;
   margin: 30px 50px;
   border-radius: 30px;
}


header{
   /* background-color: antiquewhite; */
   height: 100px;
}

.logo{
   float: left;
   display: flex;
   padding-left: 38px;
   padding-top: 10px;
}

header .logo a img{
   width: 80px;
}

.logo h1{
   font-family: 'Viaoda Libre', cursive;
   font-weight: 900;
   color: black;
   padding-left: 8px;
   padding-top: 10px;
   font-size: 45px;
}

.nav{
 float: right;
 padding-right: 50px;
 padding-top: 25px;
}

.nav ul{
   list-style: none;
   padding-left: 35px;
}

.nav ul li{
   font-family: 'Viaoda Libre', cursive;
   display: inline-block;
   padding-left: 20px;
   font-size: 35px;
}

.nav ul li a{
   text-decoration: none;
   color: #2A2B2E;
   font-weight: 900;
}

.main{
   display: grid;
   grid-template-columns: auto auto;
   padding-top: 20px;
}

.main .rusz{
   grid-row: 1 / 3;
   margin: auto;
}

.main .rusz img{
   width: 400px;
   border-radius: 20px;
   margin-left: 20px;
}

.main .am{
   width: 90vh;
   text-align: center;
   padding-top: 45px;
   margin-right: 20px;
   margin: auto;
}

.main .am h2{
   font-size: 50px;
}

.main .am p{
   font-size: 30px;
   padding-top: 30px;
}

.bottom{
   text-align: center;
}

.bottom ul li{
   display: inline-block;
   padding-left: 20px;
}

.bottom ul li a{
   text-decoration: none;
   color: black;
   font-size: 25px;
   background-color: blanchedalmond;
   border-radius: 20px;
   padding: 10px 20px;
}

.services{
   margin-top: 25px;
}
.services h1{
   text-align: center;
   font-size: 45px;
}

.extra{
   display: flex;
}

.services-gird{
   display: grid;
   grid-template-columns: 60px auto;
}

.services-column{
   grid-column: 1/3;
}

.abc, .cde{
   padding-left: 50px;
   padding-top: 20px;
}
.abc h4{
   font-size: 30px;
   padding-top: 10px;
}
.cde h4{
   font-size: 30px;
   padding-top: 10px;
}

.extra p{
   font-size: 20px;
   padding-left: 60px;
}

.two, .four{
   padding-top: 20px;
}

.down{
   margin-top: 60px;
   text-align: center;
   padding-bottom: 20px;
}

.down img{
   width: 30px;
}

.down a{
   text-decoration: none;
}

.down h3{
   /* text-align: center; */
   font-size: 15px;
}