@media screen and (max-width: 450px) {

   .logo{
      float: none;
   } 
   
   .nav{
      float: none;
      padding-top: 5px;
      padding-right: 0px;
     }
   
     .nav ul{
      padding-left: 0px;
   }

   .nav ul li{
      padding-left: 10px;
      font-size: 30px;
   }
   .main{
      padding-top: 0px;
      margin-top: 55px;
      grid-template-columns: auto;
   }

   .main .rusz{
      padding-left: 0px;
   }

   .main .rusz img{
      display: block;
      margin: auto;
   }

}   