@media screen and (max-width: 380px) {


   
   .logo h1{
      padding-left: 0px;
      padding-top: 20px;
      font-size: 30px;
   }
   
   .nav ul li{
      font-size: 25px;
   }

   .main .rusz img{
      width: 260px;
   }


   .main .am h2{
      font-size: 35px;
   }

   .main .am p{
      font-size: 18px;
   }

   .main .bottom{
      margin-top: 15px;
   }

   .bottom ul li{
      display: block;
      text-align: center;
      margin-top: 30px;
      padding-left: 0px;
   }

   .extra h4{
      font-size: 25px;
      padding-top: 15px;
   }

   .down h3{
      font-size: 8px;
   }